@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

:root {

--primary_colour: #333;

--light_colour: #f8f8ff;

--success_colour: #5cb85c;

--error_colour: #d9534f;

}

body {

background-color: #eaeef7;

color: var(--primary_colour);

font-family: 'Titillium Web', sans-serif;

height: 100vh;

/*padding: 32px;*/

}

  

.app {

display: grid;

grid-template-columns: 255px 1fr;

border-radius: 16px;

overflow: hidden;

height: 100%;

}

  

/*Button*/

.btn {

background-color: var(--primary_colour);

color: var(--light_colour);

display: inline-block;

padding: 12.5px 30px;

cursor: pointer;

border-radius: 5px;

border: none;

}

.btn:hover {

transform: scale(0.98);

}

.btn-primary {

background-color: var(--primary_colour);

color: var(--light_colour);

}

  

/*Header*/

.header {

color: var(--primary_colour);

padding: 1.6rem;

position: sticky;

top: 0;

}

  

.header-title {

font-size: 2rem;

font-weight: bold;

margin: 10px 0;

}

.currentview {

font-size: 1.5rem;

}

.currentview > span {

font-weight: bold;

color: #e57373;

cursor: pointer;

}

  

/*Sidebar Form*/

.sidebar-form .form-control {

margin: 10px 0;

}

.sidebar-form input {

border: 0;

width: 100%;

padding: 3px 0;

font-size: 16px;

background-color: transparent;

}

.sidebar-form input:focus {

outline: none;

}

.sidebar-form button {

width: 100%;

}

  

/*Sidebar List*/

.sidebar-list {

padding: 1.6rem;

}

.sidebar-item {

display: inline-flex;

align-items: center;

width: 100%;

margin: 16px 0;

cursor: pointer;

font-size: 1.75rem;

}

.sidebar-item.active {

font-weight: bold;

}

.sidebar-item:first-child {

margin-top: 0;

}

.sidebar-colour {

border: none;

width: 25px;

margin-left: auto;

cursor: pointer;

}

/*Main*/
.main {
background-color: var(--light-colour);
overflow-y: scroll;
}
.main::-webkit-scrollbar {
display: none;
}
.main .header {
background: var(--light-colour);
display: flex;
justify-content: space-between;
align-items: center;
}

/*Create and edit form*/
/*
.edit-todo-form {
display: none;
}*/
.create-todo-form input, .edit-todo-form input, .create-todo-form select, .edit-todo-form select {
border: 0;
width: 100%;
padding: 3px 0;
font-size: 16px;
background-color: transparent;
}
.create-todo-form input:focus, .edit-todo-form input:focus, .create-todo-form select:focus, .edit-todo-form select:focus {
outline: none;
}
.create-todo-form, .edit-todo-form {
display: flex;
justify-content: space-between;
align-items: flex-end;
flex: 0.8;
}
.create-todo-form input, .edit-todo-form input {
border-bottom: 1px solid #b4b3cb;
width: 350px;
}

/*Cards*/
.todos-container {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-auto-rows: max-content;
gap: 20px;
padding: 1.6rem;
}
.todo {
background-color: #fff;
color: var(--primary-colour);
border-top: 6px solid;
border-radius: 10px;
box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
padding: 20px;
display: flex;
flex-direction: column;
align-items: flex-start;
}
.todo-tag {
font-size: 1.6rem;
padding: 0.5rem 2.5rem;
border-radius: 5px;
margin-bottom:8px;
}
.todo-description {
font-size: 1.6rem;
margin: 1rem 0.2rem;
word-break: break-all;
}
.todo-actions {
margin-top: auto;
}
.todo-actions i {
font-size: 1.6rem;
margin-right: 1.6rem;
opacity: 0.25;
cursor: pointer;
}




